.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


.nav li {
  list-style: none;
  color: #232323;
}

.nav li a {
  padding: .5rem 1.75rem;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
}

.headerInner {
  padding: 3.2rem 15px;
  display: flex;
  justify-content: space-between;
}

.active {
  color: #e39e2e;
}