.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


.nav li {
  list-style: none;
  color: #232323;
}

.nav li a {
  padding: 1rem 1.75rem;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
}

.headerInner {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .headerInner  {
    flex-direction: column;
    text-align: center;
  }

  .nav {
    flex-direction: row;
    justify-content: center;
  }
}

.active {
  color: #e39e2e;
}